<!-- esto es una plantilla -->
<!-- <div class="LC-container">
  <div class="card-container">  -->
     <h1> {{listTitle}} </h1>
    <ul class="pokemons">
      <!-- el let <la variable que tiene a la lista > of <cuenta de los elementos en ella> -->
        <li *ngFor='let pokemon of pokemon'> 
          <a routerLink="/detail/{{pokemon.id}}">
            <span class="badge">{{pokemon.id}}</span>{{pokemon.name}}
          </a>
        </li>
        
    </ul>
  <!-- </div> 
    
  <div class="card-container1">
    
  </div>
  
</div> -->