/* pokemonsComponent's private CSS styles 
    Container styles
*/
.LC-container {
    display: flex;
    justify-content: center;   
    flex-direction: row;
    
}

.card-container{
    background-color: white;
    width: 50vh;
    margin-top: 20px;
    margin-left: -550px;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(6px);
    color: #ffff;
}
.card-container h1{
    text-align: center;
    text-transform: uppercase;
    
    padding-top: 10px;
} 

/* card styles */
.card-container .pokemons {
    margin: auto;
    list-style-type: none;
    padding: 0 10px 20px 10px;
    width: 15em;
    
}

.card-container .pokemons li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #C876EB;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;  
    text-transform: capitalize;  
    font-weight: bold;
}  

.card-container .pokemons li:hover {
    background-color:#D45FC5;
    left: .1em;
}

a{
    text-decoration: none;
    color: #ffff;
}

.card-container .pokemons .badge {
    font-size: small;
    display: inline-block;
    color:#ffff;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#F66F8A;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 2px;
}






