
/* STYLE OF CONTAINER  */
.page-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.page-container .img-back{
    position: absolute;
    z-index: 0;
    height: 315vh;
    width: 500vh;
    background-image: url('../assets/fondo2.png');
    background-repeat: repeat;
    margin: -10px;
    
}

.page-container .con-title {
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    z-index: 1;
    
} 

.page-container nav{
   
    width: 50%;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px);

}
.page-container nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 20px;
    
    border-color: black;
    font-size: 150%;
}

.page-container nav a:hover{
    color: black;

}
  
.others{
     z-index: 1; 
     
}
