/* .card-container{
    background-color: white;
    width: 60vh;
    height: 90vh;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px);
}

.card-container h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    padding-top: 10px;
}  */