<div *ngIf="pokemon" class="card-container">
     
      <h2>{{ pokemon.name | uppercase }}</h2>
      <div class="C-img">
        <img src="{{pokemon.image}}" alt="{{pokemon.name}}.jpg">
      </div>
      <div class="C-info">
        <label for="C-name">Name:{{pokemon.name}}</label>
        <label for="C-id">Id:{{pokemon.id}}</label>
        <label for="C-gender">Gender: {{pokemon.gender}}</label>
        <label for="C-status">Status: {{pokemon.status}}</label>
        <label for="C-species">Species: {{pokemon.species}}</label>      
        <button (click)="goBack()">Go back</button>

      </div>
</div>
